extends ../common/pug_modules/base-layout.pug
block prepend head
  title پیشنهاد کتاب
  meta(name="description" content="پیشنهاد کتاب به همراه توضیحات کامل")
  meta(name="keywords" content="علمی تخیلی,کتاب,داستان,پیشنهاد")
  meta(property="og:site_name" content="یادداشت‌هایی از کتاب‌ها")
  meta(property="og:description" content="یادداشت‌هایی از کتاب‌ها")
block content
    link(rel='stylesheet', href='../css/book-recommendation.min.css')
    link(rel='stylesheet', href='../css/notes.min.css')
    #books
    script(src="../assets/books.js")
    script(src = '../js/book-recommendation.min.js')
    script(src = '../js/notes.min.js')
