extends ../common/pug_modules/base-layout.pug
block content
    link(rel='stylesheet', href='../css/book-recommendation.min.css')
    link(rel='stylesheet', href='../css/notes.min.css?v=1')
    #books
    script(src="../assets/books.js")
    script(src = '../js/book-recommendation.min.js')
    script(src = '../js/notes.min.js')
