extends ../common/pug_modules/base-layout.pug
block content
    link(rel='stylesheet', href='../css/book-recommendation.min.css')
    #books
    //- script(src="../js/common.min.js")
    script(src="../assets/books.js")
    script(src = '../js/book-recommendation.min.js')
