---
import { type CollectionEntry, getCollection } from 'astro:content';
import { render } from 'astro:content';
import BaseLayout from '../../layouts/baseLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description}>
	<main>
        <Content />
	</main>
</BaseLayout>

<style>
    main {
        direction: rtl;
        
        img {
            width: 121px;
            display: block;
            margin: 1rem auto;
        }
        
        p {
            line-height: 28px;
            text-align: justify;
            color: var(--font-color);
        }
    }
</style>
