#footer {
    width: 100%;
    max-width: 1024px;
    color: $side-menu-font-color;
    padding: 2px 25px;
    background-color: $header-bg;
    border: none;
    border-top: 1px solid $header-border-bottom-color;
    z-index: 3;
    width: 100%;
    max-width: 1024px;
    position: fixed;
    bottom: 0;
    font-size: 14px;
    .name{
        float: left;
    }
    .year{
        float: right;
    }
}