
 header{
    color: $header-color;
    z-index: 3;
    background-color: $header-bg;
    height: $header-height;
    width: 100%;
    max-width: 1024px;
    position: fixed;
    #open-menu, #page-title, .home{
        padding: 5px;
        position: absolute;
        color: $side-menu-font-color;
        display: inline-block;
    }
    #open-menu{
        margin: 6px 0;
        line-height: 0;
        font-size: 1.9rem;
        border: none;
        background-color: $header-bg;
        &:hover{
            color: white;
            border: none;
        }
    }
    #page-title{
        font-size: 1.6rem;
    }
    .home{
        font-size: 1.9rem;
        a{
            color: $side-menu-font-color;
            text-decoration: none;
        }
        &:hover{
            a{
                color: white;
            }
        }
    }
 }
.free-space{
    height: $header-height;
}
.active-menu-link{
    background-color: $menu-link-hover-color;
}