
header{
    color: $header-color;
    z-index: 3;
    background-color: $header-bg;
    height: $header-height;
    width: 100%;
    max-width: 1024px;
    position: fixed;
    #open-menu, #page-title, .home{
        padding: 5px;
        position: absolute;
        color: $side-menu-font-color;
        display: inline-block;
    }
    #open-menu{
        margin: 6px 0;
        line-height: 0;
        font-size: 1.9rem;
        border: none;
        background-color: $header-bg;
        &:hover{
            color: white;
            border: none;
        }
    }
    #page-title{
        font-size: 1.6rem;
    }
    .home{
        font-size: 2.2rem;
        a{
            color: $side-menu-font-color;
            text-decoration: none;
        }
        &:hover{
            a{
                color: white;
            }
        }
    }

    .moon, .sun {
        width: 25px;
        height: 25px;
        fill: $side-menu-font-color;
        position: absolute;
        top: 14px;
        display: none;
    }
}

.free-space{
    height: $header-height;
}

.active-menu-link{
    background-color: $menu-link-hover-color;
}

.first-page-open-menu{
    color: $header-color;
    z-index: 3;
    background-color: $header-bg;
    height: $header-height;
    width: 0px;
    position: fixed;
    transition: width 0.5s;
    #open-menu{
        padding: 8px 10px;
        border-radius: 5px;
        line-height: 1rem;
        position: absolute;
        color: $side-menu-font-color;
        display: inline-block;
        margin: 6px 0;
        font-size: 1.9rem;
        border: none;
        background-color: $header-bg;
        &:hover{
            color: white;
            border: none;
        }
    }
}
.first-page-open-menu, header{
    .first-page-languge-switcher{
        font-size: 1.8rem;
        position: absolute;
        a{
            color: $side-menu-font-color;
            text-decoration: none;
        }

        #index-lang-en, #index-lang-eo, #index-lang-fa{
            background-color: rgba(255, 255, 255 , 0.7);
            border-radius: 5px;
            font-size: 1.0rem;
            padding: 0 0.4rem;
            margin: 0 0.2rem;
            cursor: pointer;
            &:hover{
                background-color: rgba(255, 255, 255 , 1.0);
            }
        }
        
    }
}