

$background-color: #f6f6f4;
$font-color: #424242;
$language-color: #212121;
$icon-color: #757575;
$text-shadow-color: #616161;
$icon-background-color: #E0E0E0;
$icon-border: #bfbfbf;

$languageSwitcherTransitionTime: 350ms;
