
// ------- index ----------
// $background-color:  #f4f4f1;
$background-color: #f4f4f1;
$main-wrapper-color: #f6f6f4;
$font-color: #363030;
$language-color: #212121;
$language-switcher-bg: #928787;
$icon-color: #757575;
$text-shadow-color: #616161;
$icon-background-color: #E0E0E0;
$icon-border: #bfbfbf;
$page-color: #e8e8e8;

$languageSwitcherTransitionTime: 350ms;

// ------- Skills ----------
$skill-title-bg: #504949;
$star-gold: #ef9b0f;
$skill-body-bg: #c2bcbc;

// ------------- Header variables ------------
$header-height: 50px;
$header-bg: #423c3c;
$header-color: #5c5c5c;
$header-border-bottom-color: #292424;

//-------------- side-menu ---------
$side-menu-font-color: #dbd7d7;
$menu-link-hover-color: #423c3c;
$active-menu-link-color: #292424;
$menu-link-color: #786d6d;
$side-menu-bg: #363030;
$close-menu-border: #786d6d;
$open-menu-background: #d9d9d9;
$close-menu-background-color:#423c3c;

//-------------- notes ---------
$list-of-titles-bg: #e4dede;

//-------------- footer ---------
$footer-height: 22px;
$footer-bg: #423c3c;