nav.side-menu
    #top-vertical-menu.dropdown-content
        .top-vertical-menu-links
            ul
                li.menu-item#menu-home
                    a(href="./index.html")
                        i.icon-home
                        span(data-i18n_text="home")
                li.menu-item#menu-skills
                    a(href="./dist/html/skills.html")
                        i.icon-check-square
                        span(data-i18n_text="skills")
                li.menu-item#menu-book-recommendation
                    a(href="./dist/html/book-recommendation.html", data-hide="en-eo")
                        i.icon-book
                        span(data-i18n_text="book-recommendation")
                li.menu-item#menu-notes
                    a(href="./dist/html/notes.html")
                        i.icon-feather
                        span(data-i18n_text="notes")