
header
    span#open-menu.cursor-pointer
        i.icon-bars
    span#page-title
    .home.cursor-pointer(data-i18n_title='home')
        a(href="../../index.html")
            i.icon-home
    //- .first-page-languge-switcher
    //-     span#index-lang-en(onclick="localizeAllContents('en');") En
    //-     span#index-lang-fa(onclick="localizeAllContents('fa');") Fa
    //-     span#index-lang-eo(onclick="localizeAllContents('eo');") Eo
.free-space