
header
    span#open-menu.cursor-pointer(onclick="toggleMenu();")
        i.icon-bars
    span#page-title
    .home.cursor-pointer(data-i18n_title='home')
        a(href="../../index.html")
            i.icon-home