#language-switcher.hide-in-mobile-tablet(dir="ltr" style="width: 30vh; margin-left: -15vh;")
    i.icon-language
    #en.lang  English
    #fa.lang.active-language(data-i18n_text="persian")
    #eo.lang  Esperanto