nav.side-menu
    button#close-menu.cursor-pointer(onclick="toggleMenu('close');")
        i.icon-bars
    #top-vertical-menu.dropdown-content
        .top-vertical-menu-links
            ul
                li#menu-home
                    a(href="../../index.html")
                        i.icon-home
                        span(data-i18n_text="home")
                li#menu-skills
                    a(href="./skills.html")
                        i.icon-check-square
                        span(data-i18n_text="skills")