extends ../common/pug_modules/base-layout.pug
block prepend head
  title My skills
  meta(name="description" content="My skill")
  meta(name="keywords" content="web development,skills")
  meta(property="og:site_name" content="My skills")
  meta(property="og:description" content="My skills")
block content
    head
    link(rel='stylesheet', href='css/skills.min.css')
    #skills.ltr
    script(src="assets/skills.js")
    script(src = 'js/skills.min.js')
