
@import "sass_modules/variables.scss";
@import "sass_modules/myIconFont.scss";

@font-face {
    font-family: 'sahel';
    src: url('../assets/fonts/sahel.woff');
}
 
*,
*:before,
*:after{
    font-family: 'sahel';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    min-height: 100%;
    font-size: 14.5px;
}
body {
    color: $font-color;
    // background-color: $background-color;
    background-color: white;
    font-family: 'sahel';
    height: 100%;
    min-height: 100%;
}

.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}

.cursor-pointer{
    &:hover{
        cursor: pointer;
    }
}

@import "sass_modules/myTooltip.scss";
@import "sass_modules/languageSwitcher.scss";
@import "sass_modules/plus-icon.scss";
@import "sass_modules/side-menu.scss";
@import "sass_modules/header.scss";
@import "sass_modules/footer.scss";
@import "sass_modules/locale.scss";

.main-wrapper {
  width: 100%;
  max-width: 1024px;
  min-height: 100%;
  margin: 0 auto;
  outline: 1px solid $header-bg;
  background-color: $background-color;
  position: relative;/* need this to position inner content */
}

.siri{
    margin: 2rem;
    text-align: justify;
    img{
        width: 121px;
        display: block;
        margin: 1rem auto !important;
    }
}